# General
.DS_Store
node_modules/

# React Native
tiktokpay/ios/Pods/
tiktokpay/android/.gradle/
tiktokpay/android/app/build/

# Backend
backend/node_modules/
backend/.env  
backend/firebase_credentials.json
